body{
    background-image: url('imagens/back.jpg');
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px black;

}

section{
    background: rgb(10, 0, 46);
    border-radius: 12px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
    color: white;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 5px black;
}

#foto{
    width: 45%;
    height: 45%;
    margin-top: 5px;
    background-repeat: no-repeat;
}

#btn{
    text-align: center;
}

input[type=button] {
    background: #1d0281;
    color: white;
    font-size: 16px;
    font: Arial;
    border: solid 2px white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    text-align: center;
    background-position: center;
    width: 80px;
    height: 40px;
    outline: none;
  }

  input[type=number] {
    font-size: 16px;
    font: Arial;
    border: solid 1px white;
    border-radius: 6px;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    text-align: center;
    background-position: center;
    width: 60px;
    height: 30px;
    margin:  10px;
    outline: none;
  }